# Python & Environment
.env
*.env
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.pyc
chroma_db_new/
.ipynb_checkpoints/

# Node & Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
